{% set aedUrl %}
{% if data['aed-journey'] == 'aed-4-0' %}
../aed-4-0/
{% elif data['aed-journey'] == 'aed-4-1' %}
../aed-4-1/
{% elif data['aed-journey'] == 'aed-4-2' %}
../aed-4-2/
{% endif %}
{% endset %}

<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
	Having trouble finding a training provider?
</h3>
<p class="govuk-!-margin-bottom-6">
	You can <a href="{{aedUrl}}?courseName={{_standardTitle|safe}}&courseLocation={{myData.location}}&aedUrlString=[{{_fullURL|urlencode}}]&fat-version={{myData.version}}">tell us about your training needs</a> and we'll share your interest with training providers.
</p>