
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{ govukPanel({
			titleText: "We've registered your interest",
			html: data['request']['standard']['name']
		}) }}

		<p class="govuk-body">We’ve sent you a confirmation email.</p>

		<h2 class="govuk-heading-m">What happens next</h2>

		<p>
			We'll share your interest in {{data['request']['standard']['name']}} with training providers for up to 12 weeks.
		</p>

		<p>
			If a training provider tells us they’re interested in delivering your training, we’ll send you a notification email with their details. You can contact them to discuss your requirements. 
		</p>

		<p>
			If you do not hear from us, it means that no training providers have expressed an interest in delivering your training.
		</p>



		<h2 class="govuk-heading-m govuk-!-margin-top-6">
			What else can I do?
		</h2>
		<p class="govuk-body">You can go back and either:</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
			<li><a href="../17-0/{{data['aedUrlString']|replace('[','')|replace(']','')}}" class="govuk-link govuk-link--no-visited-state" >remove the location</a></li>
			<li><a href="training" class="govuk-link govuk-link--no-visited-state">search for another course</a></li>
		</ul>
	</div>
</div>

{% endblock %}

{% set footerLinks %}
<ul class="govuk-list govuk-!-font-size-16">
	<li><a href="../aed-provider-2-0/?employer-version={{data['prototypeVersion']}}">Continue to Provider journey</a></li>
	<li><a href="../{{data['aed-journey']}}/email-provider-interest">Continue to Employer email</a></li>
</ul>
{% endset %}