{% extends "./layout_email.html" %}

{% set serviceName = 'EMAIL' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">
    <img src="/public/images/esfa-logo.png" width="180px" id="logo">
  </a>

  <h1 class="heading-large">
    A training provider is interested in delivering your training
  </h1>

  <div class="govuk-inset-text">
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-2',
      rows: [
      {
        key:
        {
          text: "Training provider"
        },
        value:
        {
          html: '<p>ABC Training<br class="govuk-!-margin-bottom-3">
            01234 567 890<br>
          info@abc-training.edu.uk<br>
          <a href="#">abc-training.edu.uk</a></p>'
        }
      },
      {
        key:
        {
          text: "Apprenticeship training course"
        },
        value:
        {
          text: data['request']['standard']['name']
        }
      },
      {
        key:
        {
          text: "Location"
        },
        value:
        {
          html: "<p>CV1 2RT<br>
    At apprentice's workplace</p>"
        }
      },
      {
        key:
        {
          text: "Available start date"
        },
        value:
        {
          text: "January 2021"
        }
      },
      {
        key:
        {
          text: "Training cost per apprentice"
        },
        value:
        {
          html: '£225<br>
          <small style="color:#777">If you do not pay the apprenticeship levy</small><hr class="govuk-section-break govuk-section-break--visible govuk-section-break--s govuk-!-margin-bottom-2 govuk-!-margin-top-2">
          £4,500<br>
          <small style="color:#777">If you pay the apprenticeship levy</small>'
        }
      }
      ]
    }) }}
  </div>

  <p>
    You should contact ABC Training if you're interested in this training. 
  </p>

  <p>
    If you're no longer interested in this training, you can <a href="#">stop receiving emails about this apprenticeship</a>.
  </p>
  
  <p>
    This is an automated message. Do not reply to this email.
  </p>

  <p>
    From
  </p>

  <p>
    Apprenticeship service team<br>
    Education and Skills Funding Agency
  </p>
</main>
{% endblock %}