{% extends "./layout_email.html" %}

{% set serviceName = 'EMAIL' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">
    <img src="/public/images/esfa-logo.png" width="180px" id="logo">
  </a>

  <h1 class="heading-large">
    We're still looking for training providers to deliver your training
  </h1>

  <p>
    Training providers know you're interested in this course, but none have told us that they're interested in delivering your training yet.
  </p>

  <p>
    We'll continue to share your interest with training providers for another 6 weeks.
  </p>

  <h2 class="heading-medium govuk-!-margin-top-7">
    Try searching for other courses
  </h2>
  <p>
    You can use the <a href="#">Find apprenticeship training for your apprentice</a> service to look for other training courses.
  </p>

  <h3 class="heading-medium govuk-!-margin-top-7">
    If you've stopped searching
  </h3>
  <p>
    Otherwise, you can <a href="#">tell us to stop sending emails about this apprenticeship</a>. We'll automatically stop sharing your interest with training providers if we don't hear from you within 7 days. 
  </p>

  <p>
    From
  </p>

  <p>
    Apprenticeship service team<br>
    Education and Skills Funding Agency
  </p>
</main>
{% endblock %}