{% extends "./layout_email.html" %}

{% set serviceName = 'EMAIL' %}

{% block page_title %}
{{serviceName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">
    <img src="/public/images/esfa-logo.png" width="180px" id="logo">
  </a>

  <h1 class="heading-large">
    We haven’t found a training provider for you yet
  </h1>

  <p>
    If you're still interested in finding a training provider for {{data['request']['standard']['name']}}, let us know and we’ll share your interest with training providers for another 12 weeks.
  </p>
  <p>
    <a href="#" class="govuk-button">Keep sharing my interest</a>
  </p>
  
  <p>
    If we don't hear from you within 7 days we'll automatically stop sharing your interest.
  </p>


  <h3 class="heading-small govuk-!-margin-top-7">
    Try searching for other courses
  </h3>
  <p>
    You could try looking for a different course in the same sector, or consider expanding your location preferences.
  </p>
  <p>
    <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" class="govuk-button">Search for training</a>
  </p>
  
  <p>Kind regards</p>
  <p>Apprenticeship service team</p>
  <p>Education and Skills Funding Agency</p>
  <p><a href="https://www.apprenticeships.gov.uk/employers" class="govuk-link govuk-link--no-visited-state">www.apprenticeships.gov.uk/employers</a></p>
  <p>This is an automated message. Please don’t reply to this email.</p>

  
</main>
{% endblock %}