
{% extends "layout.html" %}

{% set serviceName = 'Meet employer demand for apprenticeships' %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
	text: "experimental"
},
html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
			Check your answers
		</h1>

		{{ govukSummaryList({
			classes: 'govuk-!-margin-bottom-6',
			rows: [
			{
				key:
				{
					text: "Apprenticeship training course"
				},
				value:
				{
					text: data['request']['standard']['name']
				}
			},
			{
				key:
				{
					text: "Training location"
				},
				value:
				{
					html: "<p>CV1 2RT<br>At apprentice's workplace</p>"
				},
				actions:
				{
					items: [
					{
						href: "cohort-requirements",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Start date"
				},
				value:
				{
					text: "January 2021"
				},
				actions:
				{
					items: [
					{
						href: "cohort-requirements",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			},
			{
				key:
				{
					text: "Cost per apprentice"
				},
				value:
				{
					text: "£4,500"
				},
				actions:
				{
					items: [
					{
						href: "cohort-requirements",
						text: "Change",
						visuallyHiddenText: "name"
					}
					]
				}
			}
			]
		}) }}

		<p>
			We'll send an email with details of your training offer to the employers you've selected.
		</p>

		<p>
			Employers may contact you if they're interested in your training offer.
		</p>

		<form method="post">
			<p>
				{{govukButton({
					text: "Submit"
				})}}
			</p>
		</form>
	</div>
</div>
{% endblock %}
