
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = 'Employer request' %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "experimental"
	},
	html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{data['selectedStandard']}}
		</h1>
	</div>
</div>

<div class="govuk-grid-column-full govuk-!-margin-bottom-8" style="background-color:#DEE0E2; margin-bottom: 20px; padding-top: 15px">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">                  
      <!-- Employer -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="employer">
          Employer
        </label>
        <select class="govuk-select" id="employer" name="employer" style="min-width:100%;">
          <option value="all">All</option>
          <option value="grooverider">Grooverider</option>
          <option value="redshoeslimited">Red Shoes Limited</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <!-- Apprenticeship training course -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="course">
          Apprenticeship training course
        </label>          
        <select class="govuk-select" id="course" name="course" style="min-width:100%;">
          <option value="All">All</option>
          <option value="accountancy-level7">Accountancy: Level 7 (Standard)</option>
          <option value="accountancy-level3">Accountancy: Level 3 (Standard)</option>
          <option value="saddler">Bespoke Saddler: Level 3 (Standard)</option>
        </select>          
      </div> 
    </div>
    <div class="govuk-grid-column-one-third">
      <!-- Status -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="status">
          Status
        </label>
        <select class="govuk-select" id="status" name="status" style="min-width:100%;">
            <option value="All">All</option>
            <option value="Completed">Completed</option>
            <option value="Live">Live</option>
            <option value="Paused">Paused</option>
            <option value="Stopped">Stopped</option>
            <option value="Waiting to start">Waiting to start</option>
          </select>
      </div>    
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="gov-form-group">
        <label class="govuk-label" for="start-date">
          Planned start date
        </label>
        <select class="govuk-select" id="start-date" name="start-date" style="min-width:100%;">
          <option value="All">All</option>
          <option value="feb2019">Feb 2019</option>
          <option value="feb2021">Feb 2021</option>
          <option value="mar2021">Mar 2021</option>
          <option value="apr2021">Apr 2021</option>
          <option value="apr2022">Apr 2022</option>
        </select>
      </div>              
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="status">
          Planned end date
        </label>
        <select class="govuk-select" id="end-date" name="status" style="min-width:100%;">
          <option value="All">All</option>
          <option value="Completed">Completed</option>
          <option value="Live">Live</option>
          <option value="Paused">Paused</option>
          <option value="Stopped">Stopped</option>
          <option value="Waiting to start">Waiting to start</option>
        </select>      
      </div> 
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a class="govuk-button" href="manage-your-apprentices-filtered-view" style="margin-bottom: 20px">Apply filters</a>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<!-- {% include './includes/_cohort-details.html' %} -->

		{{ govukTable({
			caption: "14 employers found",
			captionClasses: "govuk-heading-l",
			classes: "govuk-margin-bottom-6",
			firstCellIsHeader: false,
			head: [
			{
				text: "Employer"
			},
			{
				text: "Location"
			},
			{
				text: "Apprentices"
			},
			{
				text: "Recruitment"
			},
			{
				text: "Start date"
			}
			],
			rows: [
			[
			{
				text: "Employer 1"
			},
			{
				text: "Leamington Spa"
			},
			{
				text: "3"
			},
			{
				text: "No"
			},
			{
				text: "Before March 2021"
			}
			],
			[
			{
				text: "Employer 2"
			},
			{
				text: "Coventry"
			},
			{
				text: "1"
			},
			{
				text: "No"
			},
			{
				text: "April 2021"
			}
			],
			[
			{
				text: "Employer 3"
			},
			{
				text: "Coventry"
			},
			{
				text: "2"
			},
			{
				text: "No"
			},
			{
				text: "No preference"
			}
			]
			]
		}) }}

		<h3 class="govuk-heading-m govuk-!-margin-top-8">
			Interested in delivering this training?
		</h3>

		<p>
			If you're interested in providing this training, you can create a training proposal.
		</p>
		<p>
			Your training proposal will be sent to all the employers who have registered their interest.
		</p>

		{{govukButton({
			text: "Create training proposal",
			href: "cohort-requirements"
		})}}
	</div>
</div>
{% endblock %}
