{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = 'Meet employer demand for apprenticeships' %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "experimental"
	},
	html: 'This service is being used for research only.'
}) }}
{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
})
}}
{% endblock %}

{% set _citiesAutocompleteList = data['citiesAutocompleteList'] %}
{% set _defaultLocationSearchvalue = "" %}

{% block main %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	<div class="das-user-panel govuk-!-margin-bottom-8">
		<div class="govuk-width-container">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<div class="das-user-panel__content">
						<h1 class="govuk-heading-xl govuk-heading-xl--white govuk-!-margin-bottom-3">
							{{serviceName}}
						</h1>
						<p class="govuk-body govuk-body--white govuk-!-margin-bottom-0">
							For training providers to see the interest registered by employers in specific apprenticeship training, so they can meet that employer demand.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<form method="get" action="/find-an-assessment-opportunity/Search#approved">
					<h2 class="govuk-label-wrapper">
						<label class="govuk-label govuk-label--l" for="search-term">
							Search
						</label>
					</h2>

					<div class="das-icon-search das-icon-search--on-white" data-module="gem-toggle-input-class-on-focus">
						<span id="search-term-hint" class="govuk-hint">
							Search for apprenticeship training
						</span>
						<div class="das-icon-search__item-wrapper">
							<input type="search" id="search-term" class="das-icon-search__item das-icon-search__input js-class-toggle" name="SearchTerm" value="">
							<div class="das-icon-search__item das-icon-search__submit-wrapper">
								<button type="submit" class="das-icon-search__submit" id="search">Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h2 class="govuk-heading-m">Apprenticeship training with employer demand</h2>

				{% set _count = 0 %}
				{% for _standard in data['standards'].list %}
					{% if _standard.demand == true %}
						{% set _count = _count + 1 %}
					{% endif %}
				{% endfor %}


				<p class="govuk-body">
					<span class="govuk-!-font-weight-bold">{{_count}}</span> training courses found with employer-registered demand
				</p>

				<table class="govuk-table govuk-table--small">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">
								<a class="sorted-ascending approved-sort govuk-link">Apprenticeship training</a>
							</th>
							<th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">
								<a class="approved-sort govuk-link">Apprentices</a>
							</th>
							<th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">
								<a class="approved-sort govuk-link">Interested employers</a>
							</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">

						{% for _standard in data['standards'].list %}

							{% if _standard.demand == true %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									<a href="standard?selectedStandard={{_standard.title}} (level {{_standard.level}})" class="govuk-link">{{_standard.title}} (level {{_standard.level}})</a>
								</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">{{ [4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] | random }}</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">{{ [1,2,3,4] | random }}</td>
							</tr>
							{% endif %}

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
	accessibleAutocomplete.enhanceSelectElement({
		selectElement: document.querySelector('#standard-picker'),
		defaultValue: ''
	})

// Taken from DAS FAT Prototype
// https://github.com/SkillsFundingAgency/das-fat-prototype/

// Locations 
function suggestLocations(query, populateResults) {
	var _allSuggestions = []

    // Cities
    var _citiesResults = {{ _citiesAutocompleteList | dump | safe }},
    _filteredCitiesResults = _citiesResults.filter(
    	result => result.toUpperCase().startsWith(query.trim().toUpperCase())
    	)
    _filteredCitiesResults.sort(function(a, b) {
    	var returnValue = 0;
    	if (a.toUpperCase() < b.toUpperCase()) {
    		returnValue = -1
    	} else if (a.toUpperCase() > b.toUpperCase()) {
    		returnValue = 1
    	}
    	return returnValue
    });

    // Postcodes
    $.getJSON('https://api.postcodes.io/postcodes/' + query + '/autocomplete', function(body) {
    	var _postcodes = body.result || []
    	_allSuggestions = _allSuggestions.concat(_filteredCitiesResults, _postcodes)
    	populateResults(_allSuggestions)
    })
}

// function fireLocationSearch(){setTimeout(function(){ $("#search-location-submit").trigger("click") },200);}
function fireLocationSearch() { setTimeout(function() { $(".location-submit").trigger("click") }, 200); }
var locationInput = document.querySelector('#search-location')
if (locationInput) {
	var locationInputID = locationInput.id,
	locationElement = document.createElement('div'),
	defaultLocationSearchvalue = {{ _defaultLocationSearchvalue | dump | safe }}
	locationElement.className = "autocomplete__parent_wrapper";
	locationInput.parentNode.insertBefore(locationElement, locationInput)
	accessibleAutocomplete({
        // other options
        element: locationElement,
        id: locationInputID,
        name: locationInput.name,
        source: suggestLocations,
        defaultValue: defaultLocationSearchvalue,
        minLength: 1,
        confirmOnBlur: false,
        autoselect: true,
        onConfirm: fireLocationSearch,
        displayMenu: 'overlay'
    })
	locationInput.style.display = 'none'
	locationInput.id = locationInputID + '-old'
	locationInput.name = ''
}
</script>
{% endblock %}