
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = 'Employer request' %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "experimental"
	},
	html: 'This service is being used for research only.'
}) }}

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
}) 
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{data['selectedStandard']}}
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		<!-- FILTERS  -->
		<div class="fat-filter">
			<div class="fat-filter__header">
				<div class="fat-filter__header-title">
					<h2 class="govuk-heading-m">Filter</h2>
				</div>
				<div class="fat-filter__header-action">
				</div>
			</div>
			<div class="fat-filter__content">
				<div class="fat-filter__options">
					<!-- Search box -->
					<form action="cohorts-list" method="GET">
						<button type="submit" class="govuk-button fat-filter__submit" id="filters-submit">Apply filters</button>
						<div class="govuk-form-group govuk-!-margin-bottom-3" data-list-search-filter="">
							<label class="govuk-label govuk-label--m" for="sort">
								Standard
							</label>
							<select class="govuk-select" id="standard-picker" name="request[standard][name]">
								<option value="all">All standards</option>
								{% for standard in data['standards']['list'] %}
								<option value="{{standard.title}}, Level: {{standard.level}}">{{standard.title}}, Level: {{standard.level}}</option>
								{% endfor %}
							</select>
						</div>
						{{ govukCheckboxes({
							idPrefix: "organisation",
							name: "organisation",
							classes: "govuk-checkboxes--small",
							fieldset:
							{
								legend:
								{
									text: "Show",
									isPageHeading: true,
									classes: "govuk-fieldset__label--s govuk-visually-hidden"
								}
							},
							items: [
							{
								value: "hmrc",
								text: "Only standards we offer",
								checked: true
							}
							]
						}) }}
						<div class="govuk-form-group govuk-!-margin-bottom-3" data-list-search-filter="">
							<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Training location</h2>
							<div class="govuk-form-group">
								<label for="search-location" class="govuk-label">
									Enter a town, city or postcode
								</label>
								<input type="search" value="" id="search-location" name="request[location]" title="Search" class="govuk-input govuk-input-background">
							</div>
						</div>
						{{ govukSelect({
							id: "sort",
							name: "sort",
							label:
							{
								text: "Search radius"
							},
							items: [
							{
								value: "published",
								text: "5 miles"
							},
							{
								value: "published",
								text: "10 miles"
							},
							{
								value: "published",
								text: "25 miles"
							},
							{
								value: "published",
								text: "50 miles"
							},
							{
								value: "published",
								text: "England"
							}
							]
						}) }}
						{{ govukCheckboxes({
							idPrefix: "organisation",
							name: "organisation",
							classes: "govuk-checkboxes--small",
							fieldset:
							{
								legend:
								{
									text: "Start date",
									isPageHeading: true,
									classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
								}
							},
							items: [
							{
								value: "hmrc",
								text: "As soon as possible"
							},
							{
								value: "employment-tribunal",
								text: "January 2021"
							},
							{
								value: "MOD",
								text: "February 2021"
							},
							{
								value: "DfT",
								text: "April 2021"
							}
							]
						}) }}
						<input type="hidden" value="" name="level">
						<button type="submit" class="govuk-button fat-filter__submit" id="filters-submit-2">Apply filters</button>
					</form>
				</div>
			</div>
		</div>
		<div class="fat-filter__togle-container filters-not-applied"><button class="govuk-button govuk-button--secondary fat-filter__toggle" type="button" style="display: none;">Hide filter</button></div>
	</div>

	<div class="govuk-grid-column-two-thirds">
		<!-- {% include './includes/_cohort-details.html' %} -->

		{{ govukTable({
			caption: "14 interested employers",
			captionClasses: "govuk-heading-l",
			classes: "govuk-margin-bottom-6",
			firstCellIsHeader: false,
			head: [
			{
				text: "Employer"
			},
			{
				text: "Location"
			},
			{
				text: "Apprentices"
			},
			{
				text: "Recruitment"
			}
			],
			rows: [
			[
			{
				text: "Employer 1"
			},
			{
				text: "Leamington Spa"
			},
			{
				text: "3"
			},
			{
				text: "No"
			}
			],
			[
			{
				text: "Employer 2"
			},
			{
				text: "Coventry"
			},
			{
				text: "1"
			},
			{
				text: "No"
			}
			],
			[
			{
				text: "Employer 3"
			},
			{
				text: "Coventry"
			},
			{
				text: "2"
			},
			{
				text: "Yes"
			}
			]
			]
		}) }}

		<h3 class="govuk-heading-m govuk-!-margin-top-8">
			Interested in delivering this training?
		</h3>

		<p>
			If you're interested in providing this training, you can create a training proposal.
		</p>
		<p>
			Your training proposal will be sent to all the employers who have registered their interest.
		</p>

		{{govukButton({
			text: "Create training proposal",
			href: "cohort-requirements"
		})}}
	</div>
</div>
{% endblock %}
